.my-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bold {
    font-weight: bold;
}

.dropdown-menu {
    top: 30px;
}

.icon-category {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block; /* This is required */
    margin-right: 2px;
    margin-bottom: 2px;
}

.icon-category.icon-android_version {
    background: url("../static/icons/android_version.png");
    background-size: cover;
}

.icon-category.icon-app_usability {
    background: url("../static/icons/app_usability.png");
    background-size: cover;
}

.icon-category.icon-app_usability {
    background: url("../static/icons/app_usability.png");
    background-size: cover;
}

.icon-category.icon-battery {
    background: url("../static/icons/battery.png");
    background-size: cover;
}

.icon-category.icon-device {
    background: url("../static/icons/device.png");
    background-size: cover;
}

.icon-category.icon-error {
    background: url("../static/icons/error.png");
    background-size: cover;
}

.icon-category.icon-complaint {
    background: url("../static/icons/complaint.png");
    background-size: cover;
}

.icon-category.icon-hardware {
    background: url("../static/icons/hardware.png");
    background-size: cover;
}

.icon-category.icon-licensing {
    background: url("../static/icons/licensing.png");
    background-size: cover;
}

.icon-category.icon-memory {
    background: url("../static/icons/memory.png");
    background-size: cover;
}

.icon-category.icon-performance {
    background: url("../static/icons/performance.png");
    background-size: cover;
}

.icon-category.icon-price {
    background: url("../static/icons/price.png");
    background-size: cover;
}

.icon-category.icon-privacy {
    background: url("../static/icons/privacy.png");
    background-size: cover;
}

.icon-category.icon-security {
    background: url("../static/icons/security.png");
    background-size: cover;
}

.icon-category.icon-ui {
    background: url("../static/icons/ui.png");
    background-size: cover;
}

.icon-category.normal {
    width: 32px;
    height: 32px;
}

.icon-category.small {
    width: 20px;
    height: 20px;
}

.icon-category.medium {
    width: 64px;
    height: 64px;
}

.icon-category.large {
    width: 128px;
    height: 128px;
}

.custom-button-width {
	width:150px;
}

.custom-large-button-width {
	width:150px;
}


.cat-neg {
    background-color: #d9534f;
    color: white;
    height: 40px;
    font-weight: 600;
}

.cat-pos {
    background-color: #5cb85c;
    color: white;
    height: 40px;
    font-weight: 600;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}